<h1>Register</h1>

<%= form_for @user do |f| %>
<%= render 'shared/errors', obj: @user %>

<%= f.label :username %>
<%= f.text_field :username %><br />
<%= f.label :password %>
<%= f.text_field :password %><br />

<%= f.submit "Register", class: "btn btn-primary" %>

<% end %>