<h1><a href="<%= fix_url(@post.url) %>" target="_blank"><%= @post.title %></a></h1>
<%= @post.description %>

<%= render 'comments/form', obj: @comment %>

<h3>Comments</h3>
<ul class="comments">
<% @post.comments.each do |comment| %>
  <li>
    <%= link_to '+', vote_post_comment_path(@post, comment, vote: true), method: 'post', remote: true if logged_in? %>
    [ <span id="comment_vote_<%=comment.id %>"><%= comment.total_votes %></span> ]
    <%= link_to '-', vote_post_comment_path(@post, comment, vote: false), method: 'post', remote: true if logged_in? %>
    |
    <%= comment.body %>
  </li>
<% end %>
</ul>